.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 150px;
}

.glyphicon {
  font-size: 30px;
}

.imgRecipe{
  height:300px;
  width:auto;
  max-width: 500px;
  display: block;
  margin: auto;
  align-item: center;
}

.imgContainer{
  min-width: 66.600% !important;
  max-width: 800px !important;
  min-height: 300px!important;
  max-height: 500px !important;
  position: relative;
  margin: auto;
}

.commentBox, .ingredient{
  text-align: center;
  max-width: 500px;
  margin: auto;
}

