<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
    </div>

    <div class="col-6 text-center row">
      <h1>{{recipe.title}}</h1>
      <div class="imgContainer">
        <img width="300" height="400"
             src="https://d1doqjmisr497k.cloudfront.net/-/media/schwartz/recipes/800x800/bacon_sandwich_800.ashx?vd=20160802T004146Z&ir=1&width=600&height=600&crop=auto&quality=75&speed=0&hash=E34ACE89265017EAE6FA80D499960D876B388F200"
             class="img-thumbnail imgRecipe" alt="Cinque Terre">
      </div>

      <div class="col-lg-4 col-lg-offset-6 text-center row">
        <h1>{{recipe.title}}</h1>


        <fieldset class="rating text-center">
          <input type="radio"
                 value="5"
                 [name]="inpustName"
                 [checked]="rating===5"/>
          <label title="Rocks!" (click)='onClick(5)'>5 stars</label>
          <input type="radio"
                 value="4"
                 [name]="inpustName"
                 [checked]="rating===4"/>
          <label title="Pretty good" (click)='onClick(4)'>4 stars</label>

          <input type="radio"
                 value="3"
                 [name]="inpustName"
                 [checked]="rating===3"/>
          <label title="Meh" (click)='onClick(3)'>3 stars</label>

          <input type="radio"
                 value="2"
                 [name]="inpustName"
                 [checked]="rating===2"/>
          <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>

          <input type="radio"
                 value="1"
                 [name]="inpustName"
                 [checked]="rating===1"/>
          <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
        </fieldset>


        <ul class="ingredient list-group list-group-flush">
          <li class="list-group-item" *ngFor="let ing of ingredient">{{ing.name}} : {{ing.amount}}</li>
        </ul>

        <p>{{recipe.description}}</p>

        <form class="commentBox">
          <div class="form-group ">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name">

            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let ing of ingredient">{{ing.name}} : {{ing.amount}}</li>
            </ul>

            <p>{{recipe.description}}</p>

            <form>
              <div class="form-group commentBox">
                <label for="exampleInputEmail1">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
                <div class="form-group">
                  <label for="exampleTextarea">Comment</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-primary btn-sm">Submit</button>

              </div>
            </form>
          </div>
          <div class="col col-lg-5">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>









