


<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
    </div>


    <div class="col-6 text-center row">
      <h1>{{recipe.title}}</h1>
      <div class="imgContainer">
        <img width="300" height="400" src={{recipe.imgURL}} class="img-thumbnail imgRecipe" alt="Cinque Terre">
      </div>

     <app-rating recipeId={{recipe.id}}></app-rating>

      <p>{{recipe.description}}</p>
      <ul class="ingredient list-group list-group-flush">
        <li *ngFor="let ing of recipe.ingredient" class="list-group-item">{{ing.name}} : {{ing.amount}}</li>
      </ul>

      <p>{{recipe.instruction}}</p>

      <a routerLink="/recipe/edit/{{recipe.id}}"><span class="glyphicon glyphicon-edit"></span></a>

      <form  class="commentBox">

        <div class="form-group ">
          <label for="nam">Name</label>
          <input #nameInput type="text" class="form-control" id="nam" required [(ngModel)]="comment.name"  name="name">
        </div>

        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea #commentInput class="form-control" id="comment" rows="3" required [(ngModel)]="comment.comment" name="comment"></textarea>
        </div>
        <button   (click)="registerComment(nameInput.value, commentInput.value )" type="button" class="btn btn-primary btn-sm">Submit</button>

      </form>
      <label>User Comment</label>
      <ul class="ingredient list-group list-group-flush">
        <li *ngFor="let com of commentList" class="list-group-item">{{com.name}} : {{com.comment}}</li>
      </ul>
    </div>
  </div>
</div>








