<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
    </div>


    <div class="col-6 text-center row">
      <h1>{{recipe?.recipeTitle}}</h1>
      <div class="imgContainer">
        <img width="300" height="400" src={{recipe?.imgURL}} class="img-thumbnail imgRecipe" alt="Cinque Terre">
      </div>


      <app-rating style="display: inline-block" class="col-md" [recipe]="recipe" [finalGrade]="finalGrade"></app-rating>

      <div *ngIf="hasEditRights" class="col-sm" style="display: inline-block">
      <br style="clear: both">
      <div  class="col-sm" style="display: inline-block">

        <a  routerLink="/recipe/edit/{{recipe?.recipeId}}"><span  class="glyphicon glyphicon-edit"></span></a>
      </div>
      </div>



      <p class="description">{{recipe?.description}}</p>
      <ul class="ingredient list-group list-group-flush">
        <li *ngFor="let ing of recipe?.ingredientsList" class="list-group-item">{{ing.ingredientName}} : {{ing.amount}}</li>
      </ul>

      <p class="description">{{recipe?.recipeText}}</p>

      <form  class="commentBox">

        <div class="form-group ">
          <label for="nam">Name</label>
          <input #nameInput type="text" class="form-control" id="nam" required [(ngModel)]="comment.userName"  name="name">
        </div>

        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea #commentInput class="form-control" id="comment" rows="3" required [(ngModel)]="comment.commentText" name="comment"></textarea>
        </div>
        <button   (click)="registerComment(nameInput.value, commentInput.value )" type="button" class="btn btn-primary btn-sm">Submit</button>

      </form>
      <label>User Comment</label>
      <ul class="ingredient list-group list-group-flush">
        <li *ngFor="let com of  recipe?.commentList" class="list-group-item">{{com.userName}} : {{com.commentText}}</li>
      </ul>
    </div>
  </div>
</div>








