<div class="row">
  <div class="col-md-4">
    <select (change)="select($event.target.value)" class="form-control">
      <option name="all">All categories</option>
      <option   *ngFor="let opt of categories" value="{{opt}}" >{{opt}}</option>
    </select>
  </div>
    <div class="col-md-4 col-md-offset-4">
      <input type="text" [(ngModel)]="searchString" name="search" class="form-control" placeholder="Search">
      <button type="submit" class="btn" (click)="searchButtonPressed(searchString)"><i class="glyphicon glyphicon-search"></i></button>
  </div>
</div>
