.wrap {
  width: 100%;
}

.grid-container {
  display: grid;
  width: 980px;
  grid-template-rows: auto;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.recipeCard {
  width: 300px;
  height: 400px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px, inset rgba(0,0,0,0.5) 0px -1px 2px;
  display: inline-block;
  background-color: white;
  overflow: hidden;
}

.recipeCard img {
  width: inherit;
  height: 250px;
  display: inline;
  position: absolute;
  z-index: 1;
}

.recipeCard h2 {
  position: absolute;
  color: #6a6a6a;
  top: 175px;
  z-index: 5;
  padding: 0 10px 0 10px;
}

.recipeCard .description {
  position: absolute;
  color: #6a6a6a;
  top: 260px;
  padding: 0px 10px 10px 10px;
}

.gradient {
  position: absolute;
  width: inherit;
  height: 80px;
  top: 175px;
  background: linear-gradient(to left, transparent, white);
  z-index: 4;
}

.gradient-bottom {
  position: absolute;
  width: inherit;
  height: 100px;
  top: 300px;
  background: linear-gradient(to bottom, transparent, white);
  z-index: 4;
}
