<fieldset style="display: inline-block;" dir="rtl" class="rating text-center">
  <input
    type="radio"
         value="5"
         [name]="inputrating"
         [checked]="inputrating===5" />
  <label  title="Rocks!" (click)='onClick(5)'>5 stars</label>
  <input type="radio"
         value="4"
         [name]="inputrating"
         [checked]="inputrating===4" />
  <label title="Pretty good" (click)='onClick(4)'>4 stars</label>

  <input type="radio"
         value="3"
         [name]="inputrating"
         [checked]="inputrating===3" />
  <label title="Meh" (click)='onClick(3)'>3 stars</label>

  <input type="radio"
         value="2"
         [name]="inputrating"
         [checked]="inputrating===2" />
  <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>

  <input type="radio"
         value="1"
         [name]="inputrating"
         [checked]="inputrating===1" />
  <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
</fieldset>
<p style="display: inline-block; vertical-align: text-bottom;">{{finalGrade?.toFixed(2)}}</p>
